input {
  border: none;
  border-bottom: 1px solid #b1b5b8;
  outline: none;
  padding-bottom: 8px;
  padding-left: 0;
  width: 100%;
}

.signup-page-signup-content-input::placeholder {
  font-family: "Pretendard-Medium";
  color: #b1b5b8;
  font-size: 13px;
}

label {
  font-family: "Pretendard-Regular";
  font-size: 16px;
}
