.login-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3561ff;
}

.login-page-bottom-wrapper {
  display: flex;
  margin-top: 156px;
  flex-direction: column;
  gap: 0.6875rem; /* 11px */
  justify-content: center;
  align-items: center;
}

.login-page-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6875rem; /* 11px */
  justify-content: center;
}

.login-page-button {
  width: 21.25rem; /* 340px */
  height: 3.0625rem; /* 49px */
  margin: 0 auto !important;
  font-size: 1rem; /* 16px */
  box-shadow: none !important;
  font-family: "Pretendard" !important;
  border-radius: 8px !important;
}

.login-page-google-button {
  background-color: black !important;
  color: white !important;
}

.login-page-kakao-button {
  background-color: #fee500 !important;
  color: black !important;
}

.login-page-naver-button {
  background-color: #04c75a !important;
  color: white !important;
}

.login-page-email-button {
  color: white !important;
  border: 0.0625rem solid white !important;
}

.button-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-text {
  flex: 1;
  text-align: center;

  font-size: 16px;
}
