@media screen and (max-width: 480px) {
  .login-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .login-page-upper-wrapper {
    height: 50%;
  }

  .login-page-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.6875rem; /* 11px */
    justify-content: center;
  }

  .login-page-button {
    width: 21.25rem; /* 340px */
    height: 3.0625rem; /* 49px */
    margin: 0 auto !important;
    font-size: 1rem; /* 16px */
    box-shadow: none !important;
    font-family: "Pretendard" !important;
  }

  .login-page-google-button {
    background-color: black !important;
    color: white !important;
  }

  .login-page-kakao-button {
    background-color: #fee500 !important;
    color: black !important;
  }

  .login-page-naver-button {
    background-color: #04c75a !important;
    color: white !important;
  }

  .login-page-email-button {
    color: black !important;
    border: 0.0625rem solid black !important;
  }

  .button-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .button-text {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }
}
