.login-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3561ff;
}

.login-page-bottom-wrapper {
  display: flex;
  margin-top: 18.483vh;
  flex-direction: column;
  gap: 1.303vh; /* 11px */
  justify-content: center;
  align-items: center;
}

.login-page-button-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.303vh; /* 11px */
  justify-content: center;
}

.login-page-button {
  width: 87.179vw; /* 340px */
  height: 5.806vh; /* 49px */
  margin: 0 auto;
  font-size: 4.103vw; /* 16px */
  box-shadow: none;
  font-family: "Pretendard" !important;
  border-radius: 8px;
}

.login-page-google-button {
  background-color: black !important;
  color: white !important;
}

.login-page-kakao-button {
  background-color: #fee500 !important;
  color: black !important;
}

.login-page-naver-button {
  background-color: #04c75a !important;
  color: white !important;
}

.login-page-email-button {
  color: white !important;
  border: 0.0625rem solid white !important;
}

.button-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-text {
  flex: 1;
  text-align: center;
  font-size: 4.103vw;
}
